extends layout

block content
  h1= title
  
  if error 
    p Error getting dynamic content 
  else 
    p Your Shop has following types of helmets in inventory 

  ul  
      li #[strong Helmets] #{data.helmet_count}
      li #[strong Helmet variations] #{data.helmet_variation_count[0].amount}
      li #[strong Categories] #{data.category_count}
